#main	{
	background: #121212;
}

#heading {
	font-family: ;
	color: white;
	text-align: center;
	padding: 0.5em;
	margin: 0.25em 14em;
}

#sub-heading	{
	font-family: ;
}

#main-navbar	{
	background-color: rgb(114, 137, 218);
	overflow: hidden;
}

#navbar-container	{
	width: 100%;
}

#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#main-navbar ul li  {
  float: left;
  position: relative;
  right: 50%;
}

#main-navbar ul li a {
  display: block;
  padding: 0.625em 1.25em;
  color: #fff;
  text-decoration: none;
}

#index-container	{
	background-color: rgb(114, 137, 218);
	color: white;
	padding: 1em 4em;
	position: relative;
	margin: 0em 20em;
	float: left;

}

.intro	{
	margin: 1em 0em 1.5em 0em;
}

.pinky	{
	width: 50%;
}
.pinky2	{
	width: 50%;
	float: right;
}