#main	{
	
}

#title {
	font-family: 'Lobster', cursive;
}

#sub-heading	{
	font-family: 'Lobster', cursive;
}

#main-navbar	{
	background-color: rgb(114, 137, 218);
	overflow: hidden;
}

#navbar-container	{
	width: 100%;
}

#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#main-navbar ul li  {
  float: left;
  position: relative;
  right: 50%;
}

#main-navbar ul li a {
  display: block;
  padding: 0.625em 1.25em;
  color: #fff;
  text-decoration: none;
}